streamlit==1.37.1
pandas==2.2.2
pillow==10.4.0
reportlab==4.2.2
pdf2image==1.17.0
google-generativeai==0.7.2
openai==1.40.6
requests==2.32.3
google-cloud-vision==3.7.4
google-cloud-documentai==2.30.1
boto3==1.34.162
streamlit
google-generativeai
pandas
numpy
Pillow
reportlab
pdf2image
pytesseract
openai
requests
paddleocr
easyocr
openai
requests
reportlab
openpyxl

streamlit
pandas
numpy
pillow
reportlab
pdf2image
google-generativeai
openai
requests
openpyxl
pytesseract
google-cloud-vision
google-cloud-documentai
boto3
PyMuPDF
